.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor-text-secundario);
    width: 100%;
}

.header-top{
    
    background-color: var(--cor-principal);
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 5.625rem;
    padding: 1rem;
}


.header-bottom nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.625rem;
    width: max-content;
    height: 100%;

}

.header-bottom nav .option{
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.2s all;
    height: 100%;
    overflow: visible;
}

/* .header-bottom nav a:hover{
    transform: translateY(-3px);
    color: var(--cor-principal);
} */



.drop_down_menu{
    position: absolute;
    background-color: var(--cor-principal);
    box-shadow: 0px 2px 2px 2px #00000022;
    height: 350px;
    width: 750px;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    transition: 0.2s all;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    margin-right: 200px;
    padding: 20px 40px;
    pointer-events: none; /* Evita a interação quando invisível */
}


#quem_somos:hover{
    color: var(--cor-principal);
    font-weight: bold;
}

#quem_somos:hover .icon-seta {
    transform: rotate(-90deg);
}
#quem_somos:hover + .drop_down_menu, .drop_down_menu:hover{
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
    margin-right: 0px;
}




.drop_down_menu .info_contato{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    flex-direction: column;
}


.info_contato .descricao-categorias{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.info_contato h2{
    font-size: 2rem;
    color: var(--cor-secundaria);
}


.info_contato button, .info_contato p{
    width: 70%;
}

.info_contato p{
    font-size: 15px;
    color: #FFF;
}

.info_contato button{
    font-size: 1.2rem;
    padding: 17px 30px;
    color: var(--cor-principal);
    font-weight: bold;
    border: none;
    background-color: var(--cor-secundaria);
    border-radius: .3rem;
    transition: 0.2s all;
    cursor: pointer;
}

.info_contato button:hover{
    box-shadow: 0px 0px 5px 4px #00000025;
}

.drop_down_menu .options_menu{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;
    color: #FFF;
}

.options_menu .categoria{
    width: 100%;
    border-bottom: 1px solid #ffffff76;
    padding: 15px 8px;
    transition: 0.2s all;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.categoria:hover{
    background-color: #007c55;
    border-bottom: 1px solid #fff;
    display: flex;
    color: #FFF;

}

.categoria:hover .icon-seta{
    transform: rotate(-90deg);
    opacity: 1;
    visibility: visible;
}

.seta-dropdown{
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    rotate: 45deg;
    z-index: -1;
    height: 20px;
    width: 20px;
    background-color: var(--cor-principal);
}



#quem_somos{
    transition: 0.2s all;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header-bottom nav .input-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid var(--cor-text-secundario);
    padding-left: 10px;
    width: 260px;
    height: 40px;
    border-radius: 4px;
}

.header-bottom nav .input-search div{
    background-color: var(--cor-principal);
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    cursor: pointer;
}




.header-bottom nav .input-search input{
    background-color: none;
    border: none;
    outline: none;
    width: 100%;
}



.header-bottom nav .input-search input::placeholder{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.header-bottom nav a span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.header-bottom nav a img{
    width: 13px;
    transition: 0.2s all;
}

.header-titulo{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--cor-text-secundario);
    font-size: 1.25rem;
}


.carrossel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.carrossel-container .carrossel-principal .imagem-detalhes{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carrossel-container .carrossel-principal .imagem-detalhes::-webkit-scrollbar{
   display: none;
}


.carrossel-container .carrossel-principal img{
    width: 100%;
    max-width: 1550px;
    scroll-snap-align: start;
}

.carrossel-container .detalhes-loja{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-bottom: 1px solid var(--cor-text-secundario);
    max-width: var(--max-view);
    gap: 6rem;
    padding: 1rem;
    font-weight: bold;
    color: var(--cor-text-secundario);
    text-align: center;
    overflow: hidden;
}


.carrossel-container .detalhes-loja .elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: .5rem;
    width: 200px;
    height: 120px;
}

.carrossel-container .detalhes-loja #frete img{
    width: 40px;
} 

.carrossel-container .detalhes-loja #bag img{
    width: 30px;
} 

.carrossel-container .detalhes-loja #cifrao img{
    width: 20px;
} 


footer{
    background-color: var(--cor-principal);
    color: #fff;
    min-height: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    
}

footer .container-footer{
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container-footer .footer-esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fff;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2.5rem ;
}

footer .container-footer .footer-esquerda ul{
    list-style: none;
}

footer .container-footer .footer-direita{
    width: 50%;
    padding: 0 2.5rem ;
    font-weight: bold;
}

footer .container-footer .footer-direita p{
    max-width: 400px;
    text-align: center;
}



@media screen and (max-width: 980px) {
    .header-bottom nav .input-search{
        min-width: 35px;
        width: 35px;
        min-height: 35px;
        height: 35px;
        border-radius: 6px;
        padding: 0;
        border: 1px solid #FFF;
        background-color: var(--cor-principal);
    }


    .header-bottom nav .input-search input, .header-bottom nav img{
        display: none;
    }

    .input-search div{
        border-radius: .5rem;
    }


    .drop_down_menu{
        height: 220px;
        width: 550px;
        top: 100%;
        right: -50px;
        padding: 10px 30px;
        }

        .info_contato h2{
            font-size: 25px;
        }

        .info_contato button, .info_contato p{
            width: 80%;
        }

        .info_contato p{
            font-size: 14px;
        }
        
        .info_contato button{
            font-size: 15px;
            padding: 10px 15px;
        }

        
    .drop_down_menu .options_menu{
        gap: .0rem;
    }
    
    .options_menu .categoria{
        font-size: 14px;
        padding: 10px 8px;
    }
        
        

    .seta-dropdown{
        left: calc(80%);
    }
    

    
    .header-bottom nav .search-branco{
        display: block;
    }

}

@media screen and (max-width:750px) {

    .drop_down_menu{
        height: 220px;
        min-width: 250px;
        width: 100%;
        right: 0px;
        padding: 10px 30px;
    }

    .drop_down_menu .info_contato {
        display: none;
    }

    .drop_down_menu .options_menu{
        width: 100%;
    }

}

@media screen and (max-width:850px) {

    .header-bottom nav{
        gap: 1.5rem;
    }

    .header-titulo{
        font-size: 1rem;
    }

    .header-titulo img{
        width: 25px;
    }
}

@media screen and (max-width:600px) {

    .header-titulo h1{
        display: none;
    }

    .header-bottom nav a{
        font-size: .9rem;
    }


    .drop_down_menu{
        height: 220px;
        min-width: 200px;
        width: 100%;
        right: -50px;
        padding: 10px 20px;
    }

    .seta-dropdown{
        left: calc(50%);
    }

    .carrossel-container .carrossel-principal .image, 
    .carrossel-container .carrossel-principal .imagem-detalhes{
        min-height: 160px;
    }

    .carrossel-container .detalhes-loja{
        height: 7.25rem;
        gap: 1rem;
    }

    .carrossel-container .detalhes-loja .elementos{
        width: 100px;
        font-size: .85rem;
    }

    .carrossel-container .detalhes-loja #frete img{
        width: 25px;
    }

    .carrossel-container .detalhes-loja #bag img{
        width: 18px;
    } 
    
    .carrossel-container .detalhes-loja #cifrao img{
        width: 12px;
    } 
    .header-top{
        font-size: .9rem;
    }

    
    footer .container-footer .footer-esquerda{
        gap: .5rem;
    }

    footer .container-footer .footer-esquerda ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:500px) {
    footer .container-footer{
        flex-direction: column;
        gap: 1rem;
    }

    footer .container-footer .footer-esquerda, footer .container-footer .footer-direita{
        width: 100%;
        border: none;
    }

    footer .container-footer .footer-direita{
        border-top: 1px solid #fff;
        padding-top: 1rem;
    }

}